# Your deployment wallet's private key (generate with `npm run generate-wallet`)
# Example format: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
PRIVATE_KEY=

# Basescan API Key for contract verification
# Get one from https://basescan.org/apis
BASESCAN_API_KEY= 

# RPC URL
# Base Sepolia: https://sepolia.base.org
# Base Mainnet: https://mainnet.base.org
RPC_URL=https://sepolia.base.org

# Fixed Price Sale Strategy address for initialization
# Base Sepolia: 0xd34872BE0cdb6b09d45FCa067B07f04a1A9aE1aE
# Base Mainnet: 0x04E2516A2c207E84a1839755675dfd8eF6302F0a
FIXED_PRICE_SALE_STRATEGY=

# IPFS URI for the token metadata
# Example format: ipfs://Qm...
TOKEN_URI=ar://o3ni6dHT2v1fda8610XgjXx-3jGuBb4b--0pfbOxrmw

# Doppler Coins ENV variables
# Base Sepolia: 0xd34872BE0cdb6b09d45FCa067B07f04a1A9aE1aE
# Base Mainnet: 0x6ff5693b99212da76ad316178a184ab56d299b43
DOPPLER_UNIVERSAL_ROUTER=

# Upgrade Script ENV variables

# Base Sepolia: 0x1660939de5E468514859E04fBfDC8a98d8e0Cf1E
# Base Mainnet: ???
CREDITS_PROXY_ADDRESS=

# Base Sepolia: 0x2c62591c601e467cb58e3fa5483f2b0c1483fca4
# Base Mainnet: ???
CREDITS_PROXY_ADMIN=
